{% load  static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ head.resume_name }}</title>
    <link rel="icon" type="image/png" href="{% static 'cv/img/favicon.png' %}">
    <link href="{% static 'cv/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'cv/css/styles.css' %}" rel="stylesheet">
  </head>
  <body style="background-image: url({% static 'cv/img/background.jpg' %});"></body>>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="{% static 'cv/js/bootstrap.min.js' %}"></script>
  </body>
</html>